[user]
	name = Yannick Bowe
	email = your.email@example.com

[core]
	editor = nano
	autocrlf = input
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[pull]
	rebase = false

[push]
	default = simple

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
	last = log -1 HEAD

[credential]
	helper = osxkeychain

[pack]
	threads = 1
	window = 0
	depth = 1 